[Desktop Entry]
Version=1.1
Type=Application
Name=Android
Comment=scrcpy
Icon=/home/realgrm/Pictures/icons/android.png
Exec=scrcpy
Actions=
Categories=Utility;
