[Desktop Entry]
Version=1.1
Type=Application
Name=Toggle Wi-fi
Comment=A small descriptive blurb about this application.
Icon=network-wireless-signal-excellent-symbolic
Exec=/home/realgrm/Documents/shell-scripts/toggle-wifi.sh
Actions=
Categories=Utility;
